<div class="col-md-4">
  <h2>Schedules</h2>
  <p>These are your schedules. You can add or delete them from here. You can also edit them and view and edit connected events.</p>
  <hr />

  <ol class="breadcrumb">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/schedules">Schedules</a></li>
    <li class="active">{{ _schedule.name || 'New schedule' }}</li>
  </ol>

  <div *ngIf="_message.message" class="alert alert-{{ _message.type }}" role="alert">{{ _message.message }}</div>

  <form class="example-form" [formGroup]="_scheduleForm">
    <p>You can edit or add a new schedule here.</p>
    <p>Schedules are containers for events. For example, you can have a schedule for family relevent dated activities and another one for work.</p>
    <label>Name *</label>
    <input formControlName="name" [(ngModel)]="_schedule.name" [formControl]="_scheduleForm.controls['name']" type="text" name="name"
      class="form-control" placeholder="Schedule name" />

    <label>Description</label>
    <textarea formControlName="description" [(ngModel)]="_schedule.description" [formControl]="_scheduleForm.controls['description']"
      name="description" class="form-control" placeholder="Schedule description">
      {{ _schedule.description }}
    </textarea>

    <div class="btn-group" role="group">
      <button class="btn btn-default" (click)="save(); $event.preventDefault()">SAVE</button>
      <button class="btn btn-default" routerLink="/schedules">GO BACK</button>
    </div>
  </form>
</div>