<div *ngIf="!_configService.whenHubApiKey; else keyExists">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Almost there</h3>
          <p>Before you can manage your schedule(s), we need your API key.</p>
          <p>You can find it in your profile page, on whenhub.com. It's saved temporarily in your browser and not sent anywhere.
            Once you close your browser or refresh the page, it's gone.</p>
          <form class="example-form" [formGroup]='apiKeyForm' (ngSubmit)="setApiKey()">
            <div md-card-avatar class="example-header-image"></div>
            <b>API Key</b>
            <div class="example-full-width">
              <input mdInput formControlName="apiKey" [formControl]="apiKeyForm.controls['apiKey']" type="text" name="apiKey" autofocus
                placeholder="API key" class="form-control" />
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #keyExists>
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img class="img-responsive" src="/assets/images/whenhub-logo-square.png">
          <div class="caption">
            <h3>Schedules</h3>
            <p>All your schedules and events. You can create new events and schedules.</p>
            <p><a class="btn btn-primary" role="button" routerLink="/schedules">Go</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img class="img-responsive" src="/assets/images/whenhub-logo-square.png">
          <div class="caption">
            <h3>My Requests</h3>
            <p>Requests made by users. You can approve or reject them here.</p>
            <p><a class="btn btn-primary" role="button" routerLink="/my-requests">Go</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img class="img-responsive" src="/assets/images/public-events-icon.png">
          <div class="caption">
            <h3>Demo Page</h3>
            <p>Your users can request an appointment with you or your business / organisation.</p>
            <p><a class="btn btn-primary" role="button" routerLink="public-booking-demo">Go</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>